/Lista01/build/
/Lista01/nbproject/private/
/Pratica02/nbproject/private/
/Pratica02/build/
/AtividadePratica/nbproject/private/
/AtividadePratica/build/
/Mapa Grid/nbproject/private/
/Mapa Grid/build/
/Mapa Gridd/nbproject/private/
/Mapa Gridd/build/
